
#sticky-footer {
    flex-shrink: none;
  }
  
  /* Other Classes for Page Styling */
  
 footer {
     margin-top: 20px;
    background: #055566;
    
  }

  .un{
      background-color: #055566;
      margin-top: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
  }

  .menu{
    background-color: #055566; 
   }

  /*  .txtmenu{
     text-transform: uppercase;
   } */